/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
  margin-top: 35px;
  font-family: 'Signika', sans-serif;
}

h1  {
  text-transform: capitalize;
}
/* Loading animation and keyframe */

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.pokedex  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* buttons for each pokemon */

ul  {
  list-style: none;
}

.pokemonButtonStyle  {
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
          box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f24537), to(#c62d1f));
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 6px 24px;
  margin: 4px 2px;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
  text-shadow: 0px 1px 0px #810e05;
}

.pokemonButtonStyle:hover  {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #c62d1f), to(#f24537));
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

.pokemonButtonStyle:active  {
	position: relative;
	top: 1px;
}

#pokemon-search::-webkit-input-placeholder {
  font-size: 14px;
}

#pokemon-search::-moz-placeholder {
  font-size: 14px;
}

#pokemon-search:-ms-input-placeholder {
  font-size: 14px;
}

#pokemon-search::-ms-input-placeholder {
  font-size: 14px;
}

#pokemon-search::placeholder {
  font-size: 14px;
}
