html,
body {
  margin-top: 35px;
  font-family: 'Arial', sans-serif;
}



#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid green;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokedex  {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

/* buttons for each pokemon */

ul  {
  list-style: none;
}

.pokemonButtonStyle  {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, green 5%, green 100%);
  background-color: green;
  border-radius: 6px;
  border: 1px solid green;
  display: grid;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 6px 24px;
  margin: 4px 2px;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
  text-shadow: 0px 1px 0px green;
}

.pokemonButtonStyle:hover  {
	background-color:green;
}

.pokemonButtonStyle:active  {
	position: relative;
	top: 1px;
}

#pokemon-search::placeholder {
  font-size: 14px;
}
